
  <div class="home-title">
    <h1 id="title">The Croc Hunter</h1>
      <p id="slogan">Tools to help the croc hunt</p>
  </div>
  <div class="login-info">
    <form method="POST" action="#">
	  <div class="input-fields">
		<input type="text" name="username" size="15" placeholder="Username" >
		<input type="text" name="password" size="15" placeholder="Password" >
		<input type="submit" value="Login" >
	  </div>
	</form>
	<p><a id="create-account" href="#">Create an account</a></p>
  </div>
  <div class="about" >
   <a id="about-title"  href="#">What is it?</a>
   <img src="http:///placekitten.com/500/500" />
  </div>
