/* Jobs Index */

ol.tree {
  padding: 0 0 0 30px;
	width: 1200px;
	
	li {
		position: relative;
		list-style: none;
		margin-left: -15px;
		
		table {
			font-size: 1.5em;
		}
	}
	.edit-job {
		display: inline;
		margin-left: 15px; 
		a {
			color: white;
		}
	}
	tr:hover {
		
		.edit-job a {
			color: blue;
		}
	}
	
	table {
		text-align: left;
		
		tbody th {
			font-weight: normal;
		}
	}
}

/* Job Profile */

.wrapper {
	margin: 0;
}

.edit-link a{
	font-size: 2em;
	float: right;
	text-decoration: none;
}
.title {
	margin-top: 50px;
	text-align: center;

	h1 {
		font-size: 6em;
		margin: 0;
	}
}

.subheader {
	font-size: 2em;
	margin: 0;
}

#job-content {
	margin: 50px 180px 0 180px;

	h2 {
		font-size: 3em;
		font-weight: normal;
		margin: 20px 0 20px 0;

		.applied {
			color: green
		}
		.not-applied {
			color: blue;
		}
	}
}

#job-description {
	font-size: 2em;
	margin: 0 90px 0 90px;
}
#job-notes {
	margin: 0 90px 0 90px;
	font-size: 2em;
}

/* Jobs New and Edit form */

#job_link {

}