// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Signin page */

h1 {
	text-align: center;
}

.form {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.form input, .form textarea {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.field_with_errors {
	color: red;
	input {
		border: 1px solid red;
	}
}

/* Header */


.header {
	background-color: #ccc;
}	

.logo {
	background-image: url(http:///placekitten.com/220/40);
	width: 220px;
	height: 40px;
	text-align: center;
	display: inline-block;
	margin-left: 50px;
}
.nav {
	vertical-align: baseline;
	height: 40px;
	padding: 20px 30px 30px 30px;
	
}

.nav-list {
	display: inline;
	margin: 0;
	padding-left: 100px;
}

.nav ul li {
	padding: 0 30px 0 30px;
	display: inline;
	font-size: 20px;
	
}
#settings {
	float: right;
	display: inline-table;
	position: relative;
	li {
		float: right;
	}
	li:hover {
		background: #4b545f;
		text-decoration-color: #fff;
	}
	ul {
		display: none;
		position: absolute;
		top: 100%;
		padding: 0;
		li {
			float: none;
			position: relative;
			padding: 0;
		}
	}
	li:hover > ul {
		display: block;
	}
}

